* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 0;
  min-height: 100vh;
  color: #2e3033;
  overflow: hidden;
}
div {
  display: block;
}
a,
button,
input {
  outline: none;
  cursor: pointer;
  background: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  color: #2e3033;
}
button,
p,
h2 {
  padding: 0;
  margin: 0;
}
.logo {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 63px;
  position: fixed;
  z-index: 1000;
}
div.logo {
  align-items: center;
  font-size: 30px;
  color: #a9d18e;
  height: 60px;
}

.toolbar_container {
  background-color: white;
  overflow: hidden;
  color: #2e3033;
  height: 60px;
  left: 0;
  min-width: 600px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#start_btn {
  font-family: "Do Hyeon", sans-serif;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  width: 300px;
  height: 100px;
  color: #a9d18e;
  border: 2px solid rgba(169, 209, 142, 0.2);
  border-radius: 20px;
  font-size: 50px;
  font-weight: 700;
  padding: 0 13px;
  margin-right: 63px;
  z-index: 1000;
}
#start_btn:hover {
  border: 1px solid white;
  background-color: #a9d18e;
  color: white;
}
main {
  width: 100vw;
  height: calc(100vh - 60px);
  margin-top: 60px;
}
.intro_animation_page {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
.intro_section {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 60px;
}
.intro_section a {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #a0a0a0;
}
.intro_section #L1::after,
.intro_section #L2::after {
  position: absolute;
  right: -10px;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #a0a0a0;
}
.section {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  background-color: #f0f0f0;
}

.section:nth-child(even) {
  background-color: #e0e0e0;
}

.title {
  font-size: 3em;
}

.section.active {
  opacity: 1;
  transform: translateY(0);
}
.error-message {
  color: red;
  font-size: 12px;
}
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 15000; /* 다른 요소 위에 표시 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: auto; /* 필요한 경우 스크롤 */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* 어둡게 */
}
.modal_wrapper {
  display: flex;
  flex-direction: column;
}
.close_btn_box {
  display: flex;
  justify-content: flex-end;
}
#close_btn {
  font-size: 50px;
  color: gray;
}
.contents_wrapper {
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.switch_form_btn {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#login_form_btn {
  border-radius: 8px 0 0 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: #a9d18e;
}
#login_form_btn span {
  padding: 0 20px;
  font-size: 20px;
}
#signup_form_btn {
  border-radius: 0 8px 0 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-color: white;
}
#signup_form_btn span {
  padding: 0 20px;
  font-size: 20px;
}
#login_btn {
  height: 100%;
  color: white;
}
#signup_btn {
  height: 100%;
  color: #cacaca;
}
#login_form {
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input_area {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  margin: 0 0 5px 0;
}
#remember_check_box {
  margin-top: 2px;
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  color: #bcbcbc;
}
.myhr {
  border: none;
  margin-top: 10px;
  margin-bottom: 7px;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}
#normal_login_btn {
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #a9d18e;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
#kakao_login_btn {
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #ffef1d;
  color: #2e3033;
}
#signup_form {
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#normal_signup_btn {
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #a9d18e;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
.input_check_div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Auth_btn {
  margin: 0px 0 5px 10px;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  font-size: 12px;
  background-color: #a9d18e;
  color: white;
}
.form_title {
  color: #bcbcbc;
  font-size: 13px;
  margin-top: 8px;
  padding-left: 3px;
}
.introduce-image {
  border-radius: 20px;
  width: 80%; /* 이미지 너비를 전체 화면의 80%로 설정 */
  height: auto; /* 비율을 유지하며 높이를 자동으로 조정 */
  display: block; /* 이미지를 블록 요소로 표시하여 중앙 정렬이 가능하게 함 */
  margin: 0 auto; /* 이미지를 중앙 정렬 */
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.4);
}
.intro_foot{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: white;
}