<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Freeman&display=swap"
      rel="stylesheet"
    />
    <title>K3P</title>
    <script src="/side_toggle.js" defer></script>
    <script src="/scroll_ani.js" defer></script>
    <script src="/watched.js" defer></script>
    <script src="/frame_change.js" defer></script>
  </head>
  <body>
    <h1 class="logo" style="top: 0">
      <div class="logo">K3P</div>
    </h1>
    <div class="toolbar_container" style="top: 0px">
      <div class="search_container">
        <form role="search">
          <div class="search_form">
            <input
              class="search_input"
              placeholder="학습 키워드 검색"
              title="검색어"
              value=""
            />
            <button type="submit" class="search_form_button">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.9">
                  <path
                    d="M15.8999 14.5L19.0862 17.7187"
                    stroke="#A9D18E"
                    stroke-width="1.8"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <circle
                    cx="11.4302"
                    cy="10.4819"
                    r="5.35"
                    stroke="#A9D18E"
                    stroke-width="1.8"
                  ></circle>
                </g>
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div class="toolbar_section">
        <div class="toolbar_section_profile">
          <button type="button" class="profile_btn">
            <img width="34" height="34" src="https://ssl.pstatic.net/cmstatic/nng/img/img_anonymous_square_gray_opacity2x.png?type=f120_120_na" alt="" class="profile_image">
          </button>
        </div>
      </div>
    </div>
    <div class="side_container" style="top: 60px">
      <section class="side_section">
        <nav id="navigation">
          <div class="navigator_wrapper">
            <h2 class="navigator_title">로드맵</h2>
            <div class="navigator_list">
              <a href="#none" class="navigator_item">
                <div class="list_item">초<br/>급</div>
              </a>
              <a href="#none" class="navigator_item">
                <div class="list_item">중<br/>급</div>
              </a>
              <a href="#none" class="navigator_item">
                <div class="list_item">고<br/>급</div>
              </a>
            </div>
          </div>
        </nav>
      </section>
    </div>
    <div class="layout_body">
      <div class="navigation_bar_place">
        <div id="main_zone">
          <div class="component_flag" style="z-index: 11; display: none;">
            <div class="flag_bar"></div>
            <div class="flag"></div>
          </div>
          <div class="test_spot scrollanimation" id="test_5" style="z-index: 10;">
            <div class="component_frame_top"></div>
            <div class="test_spot_compo_left"></div>
            <div class="test_spot_compo_right"></div>
          </div>
          <div class="component_frame frame_5 scrollanimation" style="z-index: 9;">
            <div class="component_frame_top"></div>
            <div class="component_frame_head">
              <div class="component_tri_left_head"></div>
              <div class="component_tri_right_head"></div>
            </div>
            <div class="component_frame_center">
              <div class="component_frame_half">
                <div class="lec_selector" id="first_lec5"></div>
                <div class="lec_selector" id="second_lec5"></div>
                <div class="lec_selector" id="third_lec5"></div>
                <div class="lec_selector" id="fourth_lec5"></div>
                <div class="lec_selector" id="fifth_lec5"></div>
              </div>
            </div>
            <div class="component_frame_foot">
              <div class="component_tri_left_foot"></div>
              <div class="component_tri_right_foot"></div>
            </div>
          </div>
          <div class="test_spot scrollanimation" id="test_4" style="z-index: 8;">
            <div class="component_frame_top"></div>
            <div class="test_spot_compo_left"></div>
            <div class="test_spot_compo_right"></div>
          </div>
          <div class="component_frame frame_4 scrollanimation" style="z-index: 7;">
            <div class="component_frame_top"></div>
            <div class="component_frame_head">
              <div class="component_tri_left_head"></div>
              <div class="component_tri_right_head"></div>
            </div>
            <div class="component_frame_center">
              <div class="component_frame_half">
                <div class="lec_selector" id="first_lec4"></div>
                <div class="lec_selector" id="second_lec4"></div>
                <div class="lec_selector" id="third_lec4"></div>
                <div class="lec_selector" id="fourth_lec4"></div>
                <div class="lec_selector" id="fifth_lec4"></div>
              </div>
            </div>
            <div class="component_frame_foot">
              <div class="component_tri_left_foot"></div>
              <div class="component_tri_right_foot"></div>
            </div>
          </div>
          <div class="test_spot scrollanimation" id="test_3" style="z-index: 6;">
            <div class="component_frame_top"></div>
            <div class="test_spot_compo_left"></div>
            <div class="test_spot_compo_right"></div>
          </div>
          <div class="component_frame frame_3 scrollanimation" style="z-index: 5;">
            <div class="component_frame_top"></div>
            <div class="component_frame_head">
              <div class="component_tri_left_head"></div>
              <div class="component_tri_right_head"></div>
            </div>
            <div class="component_frame_center">
              <div class="component_frame_half">
                <div class="lec_selector" id="first_lec3"></div>
                <div class="lec_selector" id="second_lec3"></div>
                <div class="lec_selector" id="third_lec3"></div>
                <div class="lec_selector" id="fourth_lec3"></div>
                <div class="lec_selector" id="fifth_lec3"></div>
              </div>
            </div>
            <div class="component_frame_foot">
              <div class="component_tri_left_foot"></div>
              <div class="component_tri_right_foot"></div>
            </div>
          </div>
          <div class="test_spot scrollanimation" id="test_2" style="z-index: 4;">
            <div class="component_frame_top"></div>
            <div class="test_spot_compo_left"></div>
            <div class="test_spot_compo_right"></div>
          </div>
          <div class="component_frame frame_2 scrollanimation" style="z-index: 3;">
            <div class="component_frame_top"></div>
            <div class="component_frame_head">
              <div class="component_tri_left_head"></div>
              <div class="component_tri_right_head"></div>
            </div>
            <div class="component_frame_center">
              <div class="component_frame_half">
                <div class="lec_selector" id="first_lec2"></div>
                <div class="lec_selector" id="second_lec2"></div>
                <div class="lec_selector" id="third_lec2"></div>
                <div class="lec_selector" id="fourth_lec2"></div>
                <div class="lec_selector" id="fifth_lec2"></div>
              </div>
            </div>
            <div class="component_frame_foot">
              <div class="component_tri_left_foot"></div>
              <div class="component_tri_right_foot"></div>
            </div>
          </div>
          <div class="test_spot scrollanimation" id="test_1" style="z-index: 2;">
            <div class="component_frame_top"></div>
            <div class="test_spot_compo_left"></div>
            <div class="test_spot_compo_right"></div>
          </div>
          <div class="component_frame frame_1 scrollanimation" style="z-index: 1;">
            <div class="component_frame_top"></div>
            <div class="component_frame_head">
              <div class="component_tri_left_head"></div>
              <div class="component_tri_right_head"></div>
            </div>
            <div class="component_frame_center">
              <div class="component_frame_half">
                <div class="lec_selector" id="first_lec1"></div>
                <div class="lec_selector" id="second_lec1"></div>
                <div class="lec_selector" id="third_lec1"></div>
                <div class="lec_selector" id="fourth_lec1"></div>
                <div class="lec_selector" id="fifth_lec1"></div>
              </div>
            </div>
            <div class="component_frame_foot">
              <div class="component_tri_left_foot"></div>
              <div class="component_tri_right_foot"></div>
            </div>
          </div>
        </div>
        <div id="base_zone" style="z-index: 0">
          <div class="component_frame base_frame" id="base_frame">
            <div class="component_frame_top base_frame"></div>
            <div class="component_frame_head base_frame">
              <div class="component_tri_left_head base_frame"></div>
              <div class="component_tri_right_head base_frame"></div>
            </div>
            <div class="component_frame_center base_frame">
              <div class="component_frame_half base_frame"></div>
            </div>
          </div>
        </div>
  
      </div>
      <section class="lec_container">
        <main class="main_contents">
          <div class="video_wrapper">
            <div class="video_response">
              <iframe
                      id="lesson-frame"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/nDwAQr2c5d0?si=aBHGiGz1p9biqjj3"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="video_material">
              <button id="video_material_btn">
                <div>수업노트 보기</div>
                <svg id="video_material_arrow"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 9L11 13L15 9"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
            </div>
            <div class="video_info">
              <div class="video_info_container">
                <div class="info_container_left">
                  <div class="video_info_row">
                    <p id="info_subject">단백질의 이해</p>
                    <h2 id="info_title" style="overflow-wrap: break-word">
                      1. 아미노산의 이해
                    </h2>
                  </div>
                  <div class="video_info_row">
                    <div class="info_tags">
                      <div class="info_tag_style">
                        <span>#</span>
                        <div class="info_tag_name">단백질</div>
                      </div>
                      <div class="info_tag_style">
                        <span>#</span>
                        <div class="info_tag_name">아미노산</div>
                      </div>
                      <div class="info_tag_style">
                        <span>#</span>
                        <p class="info_tag_name">기초 이론</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="additional_controls">
                  <div id="advanced_learning">
                    <button
                      type="button"
                      class="button_container_capsule"
                      aria-haspopup="true"
                    >
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 10H13" stroke="currentColor" stroke-width="1.8" stroke-linecap="round"></path><path d="M10 7L10 13" stroke="currentColor" stroke-width="1.8" stroke-linecap="round"></path><rect x="2" y="2" width="16" height="16" rx="8" stroke="currentColor" stroke-width="2"></rect></svg>
                      </svg>
                      <span>심층 탐구</span>
                    </button>
                  </div>
                  <div class="video_bookmark">
                    <button
                      type="button"
                      class="button_container_capsule"
                      aria-haspopup="true"
                    >
                    <svg width="18" height="18" viewBox="3 2.5 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.014 5.50563C15.236 5.50253 15.418 5.68072 15.4196 5.90267L15.4971 16.4808C15.4983 16.6458 15.3103 16.7412 15.1778 16.6428L11.5333 13.9348L7.44051 16.763C7.30871 16.854 7.12867 16.7609 7.12682 16.6007L7.00461 6.01676C7.00206 5.79625 7.17847 5.61527 7.39898 5.61218L15.014 5.50563Z" stroke="currentColor" stroke-width="1.5"></path></svg>
                      <span>북마크</span>
                    </button>
                  </div>
                  <div class="video_share">
                    <button
                      type="button"
                      class="button_container_capsule"
                      aria-haspopup="true"
                    >
                      <span>공유하기</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="video_material_contents" style="display: none;">
              <p id="video_material_title">[아미노산의 이해 수업자료]</p>
              <p id="video_material_download">(<a id="video_material_link" href="">여기</a>)를 클릭해서 수업 자료를 확인 해보세요!</p>
              <hr>
              <p id="video_material_title2">[수업 요약 노트]</p>
              <div id="video_material_summary">수업 내용 요약 & 정리 (특히 코드 등을 복사하여 쉽게 입력할 수 있도록 작성)</div>
            </div>
          </div>
          <div class="video_controls">
            <button class="video_controls_btn" id="previous_lec">
              <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 9L11 13L15 9"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <span>이전 수업</span>
            </button>
            <button class="video_controls_btn" id="watched_lec">
              <span id="not_watched" >수강 완료</span>
              <svg id="svg_check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="font-size: 14px; color: white;">
                <path fill="currentColor" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
                </path>
              </svg>
            </button>
            <button class="video_controls_btn" id="next_lec">
              <span>다음 수업</span>
              <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 9L11 13L15 9"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
            </button>
          </div>
        </main>
        <aside id="sidebar" class="lec_material">
          <div class="lec_material_header_container">
            <h2 class="material_header_title">Advanced learning</h2>
            <div class="material_header_fold">
              <button
                type="button"
                class="material_header_fold_button"
                aria-label="과제 접기"
              >
                <svg
                  id="toggleButton"
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="9"
                    y="20"
                    width="2"
                    height="12"
                    rx="1"
                    transform="rotate(-180 9 20)"
                    fill="currentColor"
                  ></rect>
                  <rect
                    x="22"
                    y="15"
                    width="10"
                    height="2"
                    rx="1"
                    transform="rotate(-180 22 15)"
                    fill="currentColor"
                  ></rect>
                  <path
                    d="M17 18L20.7879 14.2121C20.905 14.095 20.905 13.905 20.7879 13.7879L17 10"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="assignment_main">
            <button type="button" class="assignment_pop">
              <div class="assignment_container">
                <div class="assignment_one">
                  <div id="title_num">Assignment #1</div>
                  <div id="assign_intro">과제 소개</div>
                  <div id="assign_detail">과제 상세 안내</div>
                </div>
                <div class="swipe"></div>
              </div>
            </button>
            <div>
              <button
                type="button"
                id="assignment_left_arrow"
                class="assignment_arrow"
              >
                <svg
                  id="left_arrow"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 9L11 13L15 9"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
              <button
                type="button"
                id="assignment_right_arrow"
                class="assignment_arrow"
              >
                <svg
                  id="right_arrow"
                  width="22"
                  height="22"
                  viewBox="0 0 22 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 9L11 13L15 9"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div id="questions_box">
            <div class="question">
              <p class="question_title">Question 1.</p>
              <p class="question_main">단백질은 결국 원자로 이루어져 있으니,<br> 단백질을 이루고 있는 원자들의 상호작용을 예측하여 단백질의 접힘 예측이 <br>가능하지 않을까?</p>
            </div>
            <div class="question">
              <p class="question_title">Question .</p>
              <p class="question_main"><br> <br><br> <br><br> <br></p>
            </div>
            <div class="question">
              <p class="question_title">Question .</p>
              <p class="question_main"><br> <br><br> <br><br> <br></p>
            </div>
            <div class="question">
              <p class="question_title">Question .</p>
              <p class="question_main"><br> <br><br> <br><br> <br></p>
            </div>
            <div class="question">
              <p class="question_title">Question .</p>
              <p class="question_main"><br> <br><br> <br><br> <br></p>
            </div>
          </div>
        </aside>
      </section>
    </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const navigation_bar_place = document.getElementsByClassName("navigation_bar_place")[0];
      navigation_bar_place.scrollTo(0, navigation_bar_place.scrollHeight,'smooth');
    });
   </script>
  </body>
</html>
